/* ======================= GENERAL STYLE ======================= */
i.fa{
    margin-right: 10px;
}

/* ======================= SIDE MENU ======================= */
.sidebar{
    min-height: 100%;
}
.skin-black .sidebar > .sidebar-menu > li.active > a{
    border-left: 4px solid #FBCE00;
}
.user-panel{
    border-bottom: 1px solid #FBCE00;
    margin: 0 10px;
}
.user-panel .info{
    padding: 5px;
    vertical-align: bottom;
}
.user-panel .info p{
    vertical-align: bottom;
}

/* ======================= PANEL ======================= */
.panel-heading{
    font-size: 24px;
    color: #F19F4D;
}
.panel-heading a{
    float: right;
}

/* ======================= TABS ======================= */
.panel-heading .nav-tabs li{
    border: 1px solid #4484CE;
    border-right: none;
}
.panel-heading .nav-tabs li a{
    color: #4484CE;
}
.panel-heading .nav-tabs li:first-of-type{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.panel-heading .nav-tabs li:last-of-type{
    border-right: 1px solid #4484CE;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.panel-heading .nav-tabs li.active, .panel-heading .nav-tabs li.active a, .panel-heading .nav-tabs li:hover, .panel-heading .nav-tabs li a:hover, .panel-heading .nav-tabs li:focus, .panel-heading .nav-tabs li a:focus{
    background-color: #4484CE;
    color: #FFFFFF;
}
.panel-heading .nav-tabs li.active:first-of-type, .panel-heading .nav-tabs li.active:first-of-type a, .panel-heading .nav-tabs li:first-of-type:hover, .panel-heading .nav-tabs li:first-of-type a:hover, .panel-heading .nav-tabs li:first-of-type:focus, .panel-heading .nav-tabs li:first-of-type a:focus{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.panel-heading .nav-tabs li.active:last-of-type, .panel-heading .nav-tabs li.active:last-of-type a, .panel-heading .nav-tabs li:last-of-type:hover, .panel-heading .nav-tabs li:last-of-type a:hover, .panel-heading .nav-tabs li:last-of-type:focus, .panel-heading .nav-tabs li:last-of-type a:focus{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* ======================= TABLES ======================= */
.table thead{
    color: #FFFFFF;
    background-color: #4484CE;
}
.table thead th:first-of-type{
    width: 2.5%;
    text-align: center;
}
.table thead th:last-of-type{
    width: 9.3%;
    text-align: center;
}
.table tbody tr td:last-of-type{
    text-align: center;
}
.table > tbody > tr:nth-child(2n) > td, .table > tbody > tr:nth-child(2n) > th{
    background-color: #E9F7FC;
}
.table i.fa{
    margin: 0 5px;
}
.table .fa-trash{
    color: #CC0000;
}
.table .fa-pencil-square-o{
    color: #00967C;
}

/* ======================= BUTTONS ======================= */
.btn:hover, .btn:active:focus, .btn:active, .btn:focus{
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a.btn.btnTransparentBck{
    border: 2px solid #F19F4D;
    color: #F19F4D;
    background-color: #FFFFFF;
}
.btn.btnTransparentBck:hover, .btn.btnTransparentBck:active, .btn.btnTransparentBck:focus, .btn.btnTransparentBck:active:focus{
    border: 2px solid #EC8013;
    color: #FFFFFF;
    background-color: #EC8013;
}

/* ======================= DATA VIEWING ======================= */
.dataShowPanel{
    margin: 10px;
}
.dataGroup{
    display: table;
    width: 100%;
    margin-bottom: 15px;
}
.dataGroup label{
    font-size: 14px;
}
.dataGroup .panel-heading{
    margin: 20px 15px;
    padding: 0px;
    background-color: transparent;
    border: none;
}






