<div class="row red-theme">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        Doctors
                    </header>
                    <div class="panel-body">
                        <div class="row new-div">
                            <div class="col-md-12">
                                <form class="form form-inline" role="form">
                                    <div class="form-group">
                                        <label for="doctorName">Doctor Name<span class="required">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="doctorName" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="clinicList">Clinic<span class="required">*</span>
                                        </label>
                                        <select class="form-control">
                                            <option>Select</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-default opaque-back">ADD DOCTOR TO CLINIC</button>
                                </form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="alert alert-success" style="display:none;">
                                            <button data-dismiss="alert" class="close close-sm" type="button">
                                                <i class="fa fa-times"></i>
                                            </button>
                                            <strong>Done!</strong>
                                            Doctor added successfully.
                                        </div>
                                        <div class="alert alert-danger" style="display:none;">
                                            <button data-dismiss="alert" class="close close-sm" type="button">
                                                <i class="fa fa-times"></i>
                                            </button>
                                            <strong>SORRY!</strong>
                                            This doctor is not registered.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row new-div">
                            <div class="col-md-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>xyz xyz xyz xyz</td>
                                            <td>
                                                <a href="#" title="Details" role="button">
                                                    <i class="fa fa-info-circle"></i>
                                                </a>
                                                <a href="#" data-target="#confirm_modal" data-toggle="modal" title="Delete" role="button">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
