<div class="row red-theme" id="main_content">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        Doctor Name
                    </header>
                    <div class="panel-body desc-page">
                        <div class="row new-div">
                            <label class="col-md-2">
                                Phone:
                            </label>
                            <div class="col-md-10">
                                <p>01254788151, 256818651, 0154842124</p>
                            </div>
                        </div>

                        <div class="row new-div">
                            <label class="col-md-2">
                                Email:
                            </label>
                            <div class="col-md-10">
                                <p>doctor@gmail.com, doctor@hotmail.com</p>
                            </div>
                        </div>

                        <div class="row new-div">
                            <label class="col-md-2">
                                Specialization:
                            </label>
                            <div class="col-md-10">
                                <p>Pediatric Anesthesiology 
                                </p>
                            </div>
                        </div>

                        <div class="row new-div">
                            <label class="col-md-2">
                                Medical Education:
                            </label>
                            <div class="col-md-10">
                                <p>University of Michigan Medical School 7/1/1974 - 6/30/1978
                                </p>
                            </div>
                        </div>

                        <div class="row new-div">
                            <label class="col-md-2">
                                Fellowship:
                            </label>
                            <div class="col-md-10">
                                <p>University of Colombia School of Medicine 7/1/1984 - 6/30/1985 Critical Care Medicine
                                </p>
                                <p>University of Virginia School of Medicine 7/1/1981 - 6/30/1982 Critical Care Medicine
                                </p>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
