/* ============================== GENERAL STYLE ============================== */


/*html { width: 100%; height:100%; overflow:hidden; }*/

body {
    font-family: 'Maven Pro', sans-serif;
    overflow-x: hidden;
    font-style: normal;
    font-variant: normal;
}


/* ============================== HEADER ============================== */

body>.header .navbar {
    height: auto;
}

.skin-black .navbar {
    background-color: #283744;
}


/* - TOGGLE MENU BUTTON - */

body>.header .navbar .sidebar-toggle span.icon-bar {
    background-color: #F0F3F4;
}


/* - USER MENU - RIGHT - */

.skin-black .navbar .nav a {
    color: #F0F3F4;
}

.skin-black .navbar .nav>li>a:hover, .skin-black .navbar .nav>li>a:active, .skin-black .navbar .nav>li>a:focus, .skin-black .navbar .nav .open>a, .skin-black .navbar .nav .open>a:hover, .skin-black .navbar .nav .open>a:focus {
    background-color: #FFFFFF;
    color: #333333;
}

.skin-black .navbar .nav>li>a:not(:hover), .skin-black .navbar .nav>li>a:not(:active), .skin-black .navbar .nav>li>a:not(:focus) {
    background-color: #283744;
    color: #F0F3F4;
}

.skin-black .navbar .nav .dropdown-menu-right a {
    color: #333333;
}

.skin-black .navbar .nav .dropdown-menu-right a:hover, .skin-black .navbar .nav .dropdown-menu-right a:focus, .skin-black .navbar .nav .dropdown-menu-right a:active {
    color: #FFFFFF;
}


/* - HEADER LOGO - */

body>.header .logo {
    text-align: left;
}

body>.header .logo img {
    width: 130px;
    height: 35px;
    margin: 8px 0;
}


/* ============================== SIDE NAV ============================== */

.skin-black .sidebar>.sidebar-menu>li:first-of-type {
    border-top: none;
}

.sidebar .sidebar-menu>li>a {
    padding-left: 20px;
    font-size: 16px;
}

.sidebar .sidebar-menu>li.active>a {
    padding-left: 15px;
}

.sidebar-menu li.active.dashboard {
    border-left: 5px solid #FFA71A;
}

.sidebar-menu li.active.hospitals {
    border-left: 5px solid #FB7537;
}

.sidebar-menu li.active.clinics {
    border-left: 5px solid #45CF95;
}

.sidebar-menu li.active.doctors {
    border-left: 5px solid #F05050;
}

.sidebar-menu li.active.appointments {
    border-left: 5px solid #23B7E5;
}


/* ============================== CONTENT ============================== */

.row.new-div {
    padding: 15px 0;
}

.heading-btn a {
    float: right;
    text-transform: uppercase;
    font-size: 16px;
}

.btn {
    border-radius: 0;
}


/* - PANEL HEADING - */

.panel-heading {
    font-size: 22px;
}


/* green */

.green-theme .panel-heading {
    color: #45CF95;
}


/* orange */

.orange-theme .panel-heading {
    color: #FB7537;
}


/* red */

.red-theme .panel-heading {
    color: #F05050;
}


/* yellow */

.yellow-theme .panel-heading {
    color: #FFA71A;
}


/* blue */

.blue-theme .panel-heading {
    color: #23B7E5;
}


/* - BUTTONS - */


/* green */

.green-theme .btn.transparent-back {
    background-color: #FFFFFF;
    border: 2px solid #45CF95;
    color: #45CF95;
}

.green-theme .btn.transparent-back:hover, .green-theme .btn.transparent-back:active:focus, .green-theme .btn.transparent-back:active, .green-theme .btn.transparent-back:focus {
    background-color: #45CF95;
    color: #FFFFFF;
}

.green-theme .btn.opaque-back {
    background-color: #45CF95;
    border: 2px solid #45CF95;
    color: #FFFFFF;
}

.green-theme .btn.opaque-back:hover, .green-theme .btn.opaque-back:active:focus, .green-theme .btn.opaque-back:active, .green-theme .btn.opaque-back:focus {
    background-color: #FFFFFF;
    color: #45CF95;
}


/* orange */

.orange-theme .btn.transparent-back {
    background-color: #FFFFFF;
    border: 2px solid #FB7537;
    color: #FB7537;
}

.orange-theme .btn.transparent-back:hover, .orange-theme .btn.transparent-back:active:focus, .orange-theme .btn.transparent-back:active, .orange-theme .btn.transparent-back:focus {
    background-color: #FB7537;
    color: #FFFFFF;
}

.orange-theme .btn.opaque-back {
    background-color: #FB7537;
    border: 2px solid #FB7537;
    color: #FFFFFF;
}

.orange-theme .btn.opaque-back:hover, .orange-theme .btn.opaque-back:active:focus, .orange-theme .btn.opaque-back:active, .orange-theme .btn.opaque-back:focus {
    background-color: #FFFFFF;
    color: #FB7537;
}


/* red */

.red-theme .btn.transparent-back {
    background-color: #FFFFFF;
    border: 2px solid #F05050;
    color: #F05050;
}

.red-theme .btn.transparent-back:hover, .red-theme .btn.transparent-back:active:focus, .red-theme .btn.transparent-back:active, .red-theme .btn.transparent-back:focus {
    background-color: #F05050;
    color: #FFFFFF;
}

.red-theme .btn.opaque-back {
    background-color: #F05050;
    border: 2px solid #F05050;
    color: #FFFFFF;
}

.red-theme .btn.opaque-back:hover, .red-theme .btn.opaque-back:active:focus, .red-theme .btn.opaque-back:active, .red-theme .btn.opaque-back:focus {
    background-color: #FFFFFF;
    color: #F05050;
}


/* yellow */

.yellow-theme .btn.transparent-back {
    background-color: #FFFFFF;
    border: 2px solid #FFA71A;
    color: #FFA71A;
}

.yellow-theme .btn.transparent-back:hover, .yellow-theme .btn.transparent-back:active:focus, .yellow-theme .btn.transparent-back:active, .yellow-theme .btn.transparent-back:focus {
    background-color: #FFA71A;
    color: #FFFFFF;
}

.yellow-theme .btn.opaque-back {
    background-color: #FFA71A;
    border: 2px solid #FFA71A;
    color: #FFFFFF;
}

.yellow-theme .btn.opaque-back:hover, .yellow-theme .btn.opaque-back:active:focus, .yellow-theme .btn.opaque-back:active, .yellow-theme .btn.opaque-back:focus {
    background-color: #FFFFFF;
    color: #FFA71A;
}


/* - TABLES - */

.table thead th {
    font-weight: normal;
}

.table i.fa {
    font-size: 18px;
    margin-right: 10px;
}

.table i.fa-trash {
    color: #F05050;
}

.table i.fa-info-circle {
    color: #23B7E5;
}

.table i.fa-calendar-check-o {
    color: #45CF95;
}

.table i.fa-calendar-times-o {
    color: #F05050;
}

.table i.fa-calendar-minus-o {
    color: #FFA71A;
}


/* green */

.green-theme .table thead {
    background-color: #45CF95;
    color: #FFFFFF;
}


/* orange */

.orange-theme .table thead {
    background-color: #FB7537;
    color: #FFFFFF;
}


/* red */

.red-theme .table thead {
    background-color: #F05050;
    color: #FFFFFF;
}


/* blue */

.blue-theme .table thead {
    background-color: #23B7E5;
    color: #FFFFFF;
}


/* - COUNT BOXES - */

.sm-st {
    padding: 35px;
}

.sm-st-icon {
    width: 70px;
    height: 70px;
    margin-right: 30px;
}

.sm-st-icon i {
    font-size: 40px;
    padding: 12px;
}


/* green */

.green-info {
    color: #45CF95;
}


/* red */

.red-info {
    color: #F05050;
}


/* blue */

.blue-info {
    color: #23B7E5;
}

.sm-st-info {
    font-size: 22px;
}

.sm-st-info span {
    color: #000000;
}


/* green */

.st-green:hover, .st-green:active:focus, .st-green:active, .st-green:focus {
    color: #45CF95;
    background-color: #FFFFFF;
    border: 2px solid #45CF95;
}


/* red */

.st-red:hover, .st-red:active:focus, .st-red:active, .st-red:focus {
    color: #F05050;
    background-color: #FFFFFF;
    border: 2px solid #F05050;
}


/* blue */

.st-blue:hover, .st-blue:active:focus, .st-blue:active, .st-blue:focus {
    color: #23B7E5;
    background-color: #FFFFFF;
    border: 2px solid #23B7E5;
}


/* - USER MENU - RIGHT - */

.panel .panel-heading.custom-tabs {
    background: #FFFFFF;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-bottom: none;
    padding: 20px 15px;
}

.custom-tabs .nav-tabs>li {
    background-color: #F0F3F4;
}

.custom-tabs .nav-tabs li a {
    border-left: 1px solid #ddd;
    margin: 0px;
    font-size: 15px;
    padding: 15px 15px;
}

.custom-tabs .nav-tabs li a i.fa {
    margin-right: 8px;
    font-size: 19px;
}

.panel-heading .nav>li.active>a i.fa-calendar-check-o, .panel-heading .nav>li.active>a i.fa-calendar-check-o, .panel-heading .nav>li>a:hover i.fa-calendar-check-o {
    color: #45CF95;
}

.panel-heading .nav>li.active>a i.fa-calendar-times-o, .panel-heading .nav>li.active>a i.fa-calendar-times-o, .panel-heading .nav>li>a:hover i.fa-calendar-times-o {
    color: #F05050;
}

.panel-heading .nav>li.active>a i.fa-calendar-minus-o, .panel-heading .nav>li.active>a i.fa-calendar-minus-o, .panel-heading .nav>li>a:hover i.fa-calendar-minus-o {
    color: #FFA71A;
}

.custom-tabs .nav-tabs li:first-of-type a {
    border: none;
}

.blue-theme .panel-heading .nav>li.active>a {
    border-top: 2px solid #23B7E5;
    padding: 13px 15px;
    border-left: 1px solid #ddd;
}

.custom-tabs .nav-tabs li.active:last-of-type a {
    border-right: 1px solid #ddd;
}

.blue-theme .panel-heading .nav>li.active>a, .blue-theme .panel-heading .nav>li.active>a, .blue-theme .panel-heading .nav>li>a:hover {
    color: #23B7E5;
}
