<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li>
                <a href="index.html">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="general.html">
                    <i class="fa fa-h-square"></i>
                    <span>Hospitals</span>
                </a>
            </li>

            <li>
                <a href="basic_form.html">
                    <i class="fa fa-hospital-o"></i>
                    <span>Clinics</span>
                </a>
            </li>

            <li>
                <a href="simple.html">
                    <i class="fa fa-user-md"></i>
                    <span>Doctors</span>
                </a>
            </li>

            <li>
                <a href="simple.html">
                    <i class="fa fa-calendar"></i>
                    <span>Appointments</span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
