<div class="row">
    <div class="login-logo col-md-6 col-sm-12 col-xs-12">
        <%= image_tag("logo_and_name.png", :alt => "Appointik") %>
        <!-- <img src="img/logo.png"/> -->
    </div>
</div>
<div class="row green-theme">
    <div class="col-md-6 col-sm-12 col-xs-12">

          <%= form_for(:session), :html => {:class => "form login-block"} do |f| %>
            <h1>Login</h1>
            <div class="form-group">
                <input type="email" class="form-control email" placeholder="Email" id="email" name="email" required/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control password" placeholder="Password" id="password" name="password" required/>
            </div>
            <button type="submit" class="btn opaque-back">Sign In</button>
        <% end %>
    </div>
</div>
