                
            

            <!-- right side column. Contains the content of the page -->
            <aside class="right-side">

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel">
                                <header class="panel-heading header-blue">
                                    <i class="fa fa-hospital-o"></i>Clinics
                                    <a href="doctor-add.html" class="btn btn-opaque btn-blue" ><i class="fa fa-plus"></i><span>Add New Clinic</span></a>
                                </header>
                                
                                <div class="panel-body table-responsive">
                                    <table class="table table-hover table-blue">
                                        <thead>
                                            <tr>
                                                <th>Doctor Name</th>
                                                <th>Specializations</th>
                                                <th>Contact Phones</th>
                                                <th>Email</th>
                                                <th>Clinic(s)</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Ahmed ali</td>
                                                <td>Cardiology</td>
                                                <td>01232342,012323123</td>
                                                <td>ahmed@yahoo.com</td>
                                                <td>Clinic1, Clinic2</td>
                                                <td>
                                                    <a href="#" title="Details"><i class="fa fa-info-circle"></i></a>
                                                    <a href="#" title="Delete" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Ahmed ali</td>
                                                <td>Cardiology</td>
                                                <td>01232342,012323123</td>
                                                <td>ahmed@yahoo.com</td>
                                                <td>Clinic1, Clinic2</td>
                                                <td>
                                                    <a href="#" title="Details"><i class="fa fa-info-circle"></i></a>
                                                    <a href="#" title="Delete"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>                                  
                                </div><!-- /.panel-body -->
                            </div>
                        </div>
                        
                    </div><!-- /.row -->
                </section><!-- /.content -->
                <!-- footer : copyrights -->
            
            </aside><!-- /.right-side -->
            
        
            
        
