<div class="row green-theme" id="main_content">
    <div class="col-md-12">
        <!--notification start-->
        <section class="panel">
            <header class="panel-heading">
                Add New Clinic
            </header>
            <div class="panel-body">
                <form class="form-horizontal form" method="get">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Clinic Name<span class="required">*</span>
                        </label>
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Specialization<span class="required">*</span>
                        </label>
                        <div class="col-sm-10">
                            <select id="Spec_list" class="form-control" required>
                                <option>spec1</option>
                                <option>spec2</option>
                                <option>spec3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Phone(s)<span class="required">*</span>
                        </label>
                        <div class="col-sm-10">
                            <input type="text" name="phone" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Schedule</label>
                        <div class="col-sm-10">
                            <table class="table table-responsive schedule-table">
                                <tr>
                                    <th>Sat</th>
                                    <td class="checkbox-cell">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                On
                                            </label>
                                        </div>
                                    </td>
                                    <td class="from-cell time-cell">
                                        <span>From</span><input type="text" name="name" class="form-control" disabled required></td>
                                    <td class="to-cell time-cell">
                                        <span>To</span><input type="text" name="name" class="form-control" disabled required></td>
                                </tr>
                                <tr>
                                    <th>Sun</th>
                                    <td class="checkbox-cell">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                On
                                            </label>
                                        </div>
                                    </td>
                                    <td class="from-cell time-cell">
                                        <span>From</span><input type="text" name="name" class="form-control" disabled required></td>
                                    <td class="to-cell time-cell">
                                        <span>To</span><input type="text" name="name" class="form-control" disabled required></td>
                                </tr>
                                <tr>
                                    <th>Mon</th>
                                    <td class="checkbox-cell">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                On
                                            </label>
                                        </div>
                                    </td>
                                    <td class="from-cell time-cell">
                                        <span>From</span><input type="text" name="name" class="form-control" disabled required></td>
                                    <td class="to-cell time-cell">
                                        <span>To</span><input type="text" name="name" class="form-control" disabled required></td>
                                </tr>
                                <tr>
                                    <th>Tue</th>
                                    <td class="checkbox-cell">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                On
                                            </label>
                                        </div>
                                    </td>
                                    <td class="from-cell time-cell">
                                        <span>From</span><input type="text" name="name" class="form-control" disabled required></td>
                                    <td class="to-cell time-cell">
                                        <span>To</span><input type="text" name="name" class="form-control" disabled required></td>
                                </tr>
                                <tr>
                                    <th>Wed</th>
                                    <td class="checkbox-cell">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                On
                                            </label>
                                        </div>
                                    </td>
                                    <td class="from-cell time-cell">
                                        <span>From</span><input type="text" name="name" class="form-control" disabled required></td>
                                    <td class="to-cell time-cell">
                                        <span>To</span><input type="text" name="name" class="form-control" disabled required></td>
                                </tr>
                                <tr>
                                    <th>Thu</th>
                                    <td class="checkbox-cell">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                On
                                            </label>
                                        </div>
                                    </td>
                                    <td class="from-cell time-cell">
                                        <span>From</span><input type="text" name="name" class="form-control" disabled required></td>
                                    <td class="to-cell time-cell">
                                        <span>To</span><input type="text" name="name" class="form-control" disabled required></td>
                                </tr>
                                <tr>
                                    <th>Fri</th>
                                    <td class="checkbox-cell">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                On
                                            </label>
                                        </div>
                                    </td>
                                    <td class="from-cell time-cell">
                                        <span>From</span><input type="text" name="name" class="form-control" disabled required></td>
                                    <td class="to-cell time-cell">
                                        <span>To</span><input type="text" name="name" class="form-control" disabled required></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 hidden-xs hidden-sm"></div>
                        <div class="form-btns col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <button type="submit" class="btn btn-default opaque-back">Submit</button>
                            <%= link_to ('Cancel').html_safe,$url_clinics,class: "btn btn-default transparent-back" %>
                        </div>
                    </div>

                </form>

            </div>
        </section>
        <!--notification end-->
    </div>
</div>
