<div class="yellow-theme">
    <div class="row new-div">
        <div class="col-md-6">
            <div class="sm-st clearfix">
                <a href="#" class="sm-st-icon st-green">
                    <i class="fa fa-hospital-o"></i>
                </a>
                <div class="sm-st-info green-info">
                    <span>200</span>
                    Clinics
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="sm-st clearfix">
                <a href="#" class="sm-st-icon st-red">
                    <i class="fa fa-user-md"></i>
                </a>
                <div class="sm-st-info red-info">
                    <span>3200</span>
                    Doctors
                </div>
            </div>
        </div>

    </div>

    <!-- Statistics -->
    <div class="row">

        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    Appointments / month
                </header>
                <div class="panel-body"></div>
            </section>
        </div>

    </div>
    <div class="row">

        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    Appointments / 6 months
                </header>
                <div class="panel-body"></div>
            </section>
        </div>

    </div>
</div>
