<div class="row orange-theme">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        Hospitals
                    </header>
                    <div class="panel-body">
                        <div class="row new-div">
                            <div class="col-md-12 heading-btn">
                                <a class="btn btn-default opaque-back" href="#" role="button">Add New Clinic</a>
                            </div>
                        </div>
                        <div class="row new-div">
                            <div class="col-md-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>xyz xyz xyz xyz</td>
                                            <td>
                                                <a href="#" title="Details" role="button"><i class="fa fa-info-circle"></i></a>
                                                <a href="#" title="Delete" role="button"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
